/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* added to reset to clear the accessible border behaviour in chrome update */
*,
*:focus,
*:hover {
  outline: none;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  letter-spacing: 0.015rem;
  -webkit-font-smoothing: antialiased;
  color: #081d0a;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* font from fontsquirrel generator */

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family:  "Ubuntu Sans Mono", system-ui;
}
.form {
  display: flex;
}
.banner-div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 40%;
  background-image: url(./background.jpg);
  background-size: 100%;
  
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  gap: 2%;
  background-color: #081d0a80;
  height: 15%;
}
.logo-img-div {
  height: 80%;
  width: auto;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.logo-text {
  font-family:  "Ubuntu Sans Mono", system-ui;
  font-size: 5rem;
  color: beige;
  flex: 0;
}

.credit {
  position: absolute;
  text-align: center;
  color: beige;
  bottom: 0.5%;
  width: 100%;
  background-color: #11a0c7aa;
}

a {
  color: #798553;
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #270f5f;
}


